<style>
.cke_contents{
  height: 600px !important;
}
</style>
<%= form_for @article do |f| %>
  <%= f.label :title, "标题:" %>
  <br/>
  <%= f.text_field :title, size: 40, placeholder: "请输入标题" %>
  <br/>
  <%= f.label :content, "内容:" %>
  <br/>
  <p style="width: 80%; margin: 0 auto;"> <%= f.cktext_area :content, placeholder: "请输入正文内容" %> </p>
  <br/>
  <%= f.label :category_id, "分类" %>
  <%#= f.select :category_id, options_for_select([["生活", 1],["技术", 2]],2) %>
  <%= f.select :category_id, options_for_select(Article.categories, 2) %>
  <br/>
  <%= f.submit "提交" %>
<% end %>

<script>
$("form").validate({
  rules:{
    "article[title]":"required",
    "article[content]":{
    "required":true,
    },
  },
  messages:{
    "article[title]":"请输入标题",
    "article[content]":{
    "required":"请输入正文内容",
    },
  }
});
</script>
