<div style="width: 80%;
  min-height: 800px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.73);
  text-align: center;
  padding-top: 35px;
  margin-top: -30px;
  overflow: auto;">

  <h2 style="margin-bottom: 20px; color: #20537f; margin-top: 0;"> <%= Article.title params[:category_id] %> </h2>

  <%= form_tag articles_path, :method => 'get'  do %>
    <%= hidden_field_tag :category_id, params[:category_id] %>
    <%= text_field_tag :title_or_content, params[:title_or_content], placeholder: "模糊匹配,全文,如:ruby on rails", style: "width: 250px; background-color: rgba(241, 241, 241, 0.74);" %>
    <%= submit_tag "搜索" %>
  <% end %>
  <br/>
  <br/>

  <div style="font-size: 18px;">
    <table style="width: 100%; text-align: center;" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th style="width: 20%; text-align: center;">时间</td>
          <th style="text-align: center;">标题</td>
        <% if current_user.present? %>
          <th colspan=4 style="width: 12%; text-align: center;">操作</td>
        <% end %>
        </tr>
      </thead>

      <% @articles.each do |article| %>
      <tbody>
        </tr>
          <td style="vertical-align: middle;"><%= article.date %></td>
          <td style="text-align: left; margin-left: 10px;">
          <%= link_to article.title, article %>
          <%= "("+ "#{article.visited_count}"+")" %>
          </td>
          <% if current_user.present? %>
            <td style="vertical-align: middle;"><%= link_to "编辑", edit_article_path(article), class: "btn btn-primary btn-xs" %></td>
            <td style="vertical-align: middle;"><%= link_to "删除", article, :method => :delete, data: { confirm: "确定删除该文章么?" },  class: "btn btn-danger btn-xs"  %></td>
            <td style="vertical-align: middle;"><%= link_to "置顶", set_hot_articles_path(id: article.id), :id => "zhi_ding", data: { confirm: "确定要置顶该文章么,会改变创建时间?" }, :method => :post, class: "btn btn-success btn-xs" %></td>
            <!--<td><a href="javascript:showSuccessToast();">not sticky</a> </td> -->
          <% end %>
        </tr>
      </tbody>
      <% end %>
    </table>

    <div class="table-actions-bottom">
      <%= pagination @articles %><br/>
    </div>

    <% if current_user.present? %>
      <%= link_to "创建博客", new_article_path, class: "btn btn-primary", style: "margin-bottom: 30px;"%>
    <% end %>
  </div>
</div>

<script type="text/javascript">

    $("#zhi_ding").click(function showSuccessToast() {
        $().toastmessage('showSuccessToast', "置顶成功");
    });

    function showStickySuccessToast() {
        $().toastmessage('showToast', {
            text     : 'Success Dialog which is sticky',
            sticky   : true,
            position : 'top-right',
            type     : 'success',
            closeText: '',
            close    : function () {
                console.log("toast is closed ...");
            }
        });
    };

    function showNoticeToast() {
        $().toastmessage('showNoticeToast', "Notice  Dialog which is fading away ...");
    };

    function showStickyNoticeToast() {
        $().toastmessage('showToast', {
             text     : 'Notice Dialog which is sticky',
             sticky   : true,
             position : 'top-right',
             type     : 'notice',
             closeText: '',
             close    : function () {console.log("toast is closed ...");}
        });
    };

    function showWarningToast() {
        $().toastmessage('showWarningToast', "Warning Dialog which is fading away ...");
    };

    function showStickyWarningToast() {
        $().toastmessage('showToast', {
            text     : 'Warning Dialog which is sticky',
            sticky   : true,
            position : 'top-right',
            type     : 'warning',
            closeText: '',
            close    : function () {
                console.log("toast is closed ...");
            }
        });
    };

    function showErrorToast() {
        $().toastmessage('showErrorToast', "Error Dialog which is fading away ...");
    };

    function showStickyErrorToast() {
        $().toastmessage('showToast', {
            text     : 'Error Dialog which is sticky',
            sticky   : true,
            position : 'top-right',
            type     : 'error',
            closeText: '',
            close    : function () {
                console.log("toast is closed ...");
            }
        });
    };

</script>

