<div style="width: 80%;
  height: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.73);
  text-align: center;
  padding-top: 35px;
  margin-top: -30px;
  overflow: auto;">

  <h2 style="margin-bottom: 20px; color: #20537f; margin-top: 0;"> <%= Article.title params[:category_id] %> </h2>

  <%= form_tag articles_path, :method => 'get'  do %>
    <%= hidden_field_tag :category_id, params[:category_id] %>
    <%= text_field_tag :title_or_content, params[:title_or_content], placeholder: "模糊匹配,全文,如:ruby on rails", style: "width: 250px; background-color: rgba(241, 241, 241, 0.74);" %>
    <%= submit_tag "搜索" %>
  <% end %>
  <br/>
  <br/>

  <div style="font-size: 18px;">
    <table style="width: 100%; text-align: center;" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th style="width: 20%; text-align: center;">时间</td>
          <th style="text-align: center;">标题</td>
        <% if current_user.present? %>
          <th colspan=3 style="width: 12%; text-align: center;">操作</td>
        <% end %>
        </tr>
      </thead>

      <% @articles.each do |article| %>
      <tbody>
        </tr>
          <td style="vertical-align: middle;"><%= article.date %></td>
          <td style="text-align: left; margin-left: 10px;">
          <%= link_to article.title, article %>
          <%= "("+ "#{article.visited_count}"+")" %>
          </td>
          <% if current_user.present? %>
            <td style="vertical-align: middle;"><%= link_to "编辑", edit_article_path(article), class: "btn btn-primary btn-sm" %></td>
            <td style="vertical-align: middle;"><%= link_to "删除", article, :method => :delete, data: { confirm: "确定删除该文章么?" },  class: "btn btn-danger btn-sm"  %></td>
            <td style="vertical-align: middle;"><%= link_to "置顶", set_hot_articles_path(id: article.id), data: { confirm: "确定要置顶该文章么,会改变创建时间?" }, :method => :post, class: "btn btn-success btn-sm" %></td>
          <% end %>
        </tr>
      </tbody>
      <% end %>
    </table>

    <div class="table-actions-bottom">
      <%= pagination @articles %><br/>
    </div>

    <% if current_user.present? %>
      <td><%= link_to "创建博客", new_article_path, class: "btn btn-primary" %></td>
    <% end %>
  </div>
</div>
