<div style="width: 80%;
     height: 1000px;
     margin: 0 auto;
     background-color: rgba(255, 255, 255, 0.73);
     text-align: center;
     padding-top: 35px;
     margin-top: -30px;
     font-size: 18px;
     overflow: auto;">

  <p style="margin-bottom: 20px;
    color: #20537f;
    margin-top: -10px;
    font-size: 30px;
    padding-left: 20%;
    padding-right: 20%;
    font-weight: bold;"><%= @article.title %></p>

  <div style="width: 80%;
    margin: 0 auto;
    height: 760px;
    background-color: rgba(255, 255, 255, 0.36);
    margin-bottom: 20px;
    padding: 15px;
    overflow: auto;
    white-space: normal;
    text-align: initial; ">
    <p><%= raw @article.content %></p>
  </div>

  <% if @article.category_id ==1 %>
    <%= link_to "返回列表", articles_path(category_id: 1), class: "btn btn-primary", style: "margin-top: 20px;" %>
  <% elsif %>
    <%= link_to "返回列表", articles_path(category_id: 2), class: "btn btn-primary", style: "margin-top: 20px;" %>
  <% elsif %>
    <%= link_to "返回列表", articles_path(category_id: 3), class: "btn btn-primary", style: "margin-top: 20px;" %>
  <% elsif %>
    <%= link_to "返回列表", articles_path(category_id: 4), class: "btn btn-primary", style: "margin-top: 20px;" %>
  <% end %>
</div>
