<html>
<head>
  <style>
.register_and_log_on {
}

div ul li a {
  padding: 25px !important;
  font-size: 25px;
}
  </style>
</head>

<body>
  <div class="brand">欢迎来到cool的博客</div>
  <div class="address-bar">一个爱音乐的程序员</div>
  <nav class="navbar navbar-default" role="navigation" style="margin-bottom: 30px;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <%= link_to '首页', root_path %>
                </li>
                <li>
                    <%= link_to '生活', articles_path(category_id: 1) %>
                </li>
                <li>
                    <%= link_to '技术', articles_path(category_id: 2) %>
                </li>
                <li>
                    <%= link_to '博主简介', current_user.blank? ? user_path(id: 1) : current_user  %>
                </li>
                <li class="register_and_log_on">
                    <%#= link_to "注册", new_user_registration_path %>
                </li>
                <li class="register_and_log_on">
                  <% if current_user.blank?%>
                    <%= link_to "登录", new_user_session_path %>
                    <% else %>
                    <%= link_to '退出', destroy_user_session_path, method: :delete %>
                  <% end %>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
