<!DOCTYPE html>
<html>
<head>
  <title>文圆承的博客</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <style>
  pre {
    background-color: rgba(245, 245, 245, 0.6);
    font-size: 18px;
  }
  </style>
</head>
<body>
  <%= render 'shared/nav' %>
  <%= yield %>
  <%= render 'shared/footer' %>
</body>
</html>
